/*
 * Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "splitkb_aurora_helix.dtsi"
#include "splitkb_aurora_helix_physical_layout.dtsi"

/ {
    chosen {
        zmk,kscan = &mock_kscan;
        zmk,physical-layout = &physical_layout;
        zmk,underglow = &led_strip;
    };
 
    mock_kscan: mock_kscan_0 {
        compatible = "zmk,kscan-mock";
        columns = <14>;
        rows = <5>;
        events = <0>;
    };
};

&physical_layout {
    transform = <&default_transform>;
};